// Define variables for your color scheme
$dark-green: rgb(0,51,0);
$tan: rgb(242, 225, 203);
$olive: rgb(155, 136, 22);
// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
