.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: $tan;
}

.navbar-lewagon .navbar-brand p {
  margin-bottom: 0px;
  color: $tan;
}

.nav-link a :hover {
  color: $olive;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: $olive;
}

.navbar-lewagon .navbar-link  {
  color: $tan;
}
